/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(59, 62, 64);
  color: aliceblue;
}
