/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #3b3e40;
  color: aliceblue;
  max-width: 100vw;
  overflow: hidden;
  @apply overflow-y-hidden max-h-[100vh] md:max-h-max md:overflow-y-scroll;
}
